.App {
    margin-top: 2em;
    padding-inline: 1em;
}

#app-title {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}


@media screen and (min-width: 768px) {
    .App {
        margin-top: 2.5em;
    }
}

@media screen and (min-width: 1024px) {
    .App {
        margin-top: 3em;
    }
}

@media screen and (min-width: 1280px) {
    .App {
        margin-top: 4em;
    }
}

@media screen and (min-width: 1536px) {
    .App {
        margin-top: 5em;
    }
}