#color-box {
    width: 100%;
    max-width: 450px;
    min-height: 250px;
    margin-inline: auto;
    margin-top: 2em;
    border: 1px solid #1f1f1f;
    border-radius: 0.5em;
}

#color-box>#app-title {
    margin-top: 0.5em;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}